* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
}

header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

header div {
  display: flex;
  transition: all 0.3s;
  box-shadow: #cccccc 0px 0px 5px;
}

header div input {
  width: 75%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1rem;
  background-color: white;
  outline: none;
}

header div button {
  width: 25%;
  background-color: white;
  border: none;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

header div button:hover {
  width: 35%;
}

header div:active {
  transform: scale(0.95);
}
main {
  width: 100%;
  height: 70vh;
  overflow: auto;
  box-sizing: border-box;
}

main ul {
  list-style: none;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main li {
  box-sizing: border-box;
  color: black;
  display: flex;
  box-shadow: #cccccc 0px 0px 5px;
  border-radius: 5px;
}

main li span {
  background-color: white;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

main li button {
  box-sizing: border-box;
  background-color: black;
  color: white;
  width: 30%;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

main li button:hover {
  width: 40%;
}