#marco-controls {
    backdrop-filter: blur(2px);
    border: 1px solid #00000020;
}

.control-item:hover {
    transform: scale(1.2);
}

.control-item:active {
    transform: scale(1);
}

.active  {
    fill:#59a7ff ;
}