body {
    overflow: hidden;
}

#marco {
    border: 2em solid black;
}

#btn-gobuy {
    border: 1em solid black;
    backdrop-filter: blur(20px);
    z-index: 1;
}

#btn-gobuy::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
    width: 0%;
    height: 100%;
    background: white;
    transition: all 0.5s;
}

#btn-gobuy:hover::before {
    width: 100%;
}

@media screen and (max-width: 900px) {

    #btn-gobuy svg {
        display: none;
    }
    
}