@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans+TC:wght@100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

#App {
    background-image: url('resources/cool-background.svg');
    background-size: cover;
}

* {
    color:rgb(46, 5, 105);
    font-family: 'Quicksand';
}

#searchbar {
    width: 100%;
    padding: .5em 1em;
    border: 1px solid #ccc;
    border-radius: 2em;
    transition: all .3s;
}

#searchbar:hover {
    border: 1px solid rgb(46, 5, 105);
}