.calendario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s;
}

nav button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 8px;
    box-shadow: 5px 5px 0px 0px black
}

th {
    padding: 10px;
}

td {
    padding: 1vw 1vw;
    text-align: center;
    transition: all 0.3s;
}

td:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.selected {
    background-color: black;
    color: white;
}