body {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#map-content {
    border: 2px solid #000;
    border-radius: 2em;
    margin: 1em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}