li {
    font-size: 1rem;
    display: flex;
    width: 100%;
    padding: 1em;
    justify-content: space-between;
    gap: 1em;
    transition: all 0.5s;
    border-radius: 10px;
}

li:hover {
    box-shadow: 0 0 10px 0.5px #00000020;
}


li button {
    padding: 1em;
    background-color: white;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

li svg {
    width: 2em;
    height: 2em;
}

.btns {
    display: flex;
}

.btns button:first-child svg path {
    fill: white;
    stroke: black;
    transition: all 0.5s;
    stroke-width: 2;
}

.btns button:first-child:hover svg path {
    stroke: none;
    fill: #FF356550;
    width: 2.5em;
    height: 2.5em;
}
