 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(resources/gggrain.svg);
  background-size: cover;
}


.calculator {
  background-color: #252525;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  gap: 1em;
  width: 30%;
  border-radius: .5em;
  box-shadow: 0 0 5px 0 #ffffff50;
}

.calculator * {
  border-radius: .5em;
  font-size: 1rem;
  font-weight: bold;
}

.calculator input {
  padding: 1.5em;
  border: none;
  text-align: end;
}

.btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5em;
}

